@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

.add-customer-container{
    align-items: center;

}
/* 
#add-customer-maincard{
    box-sizing: border-box;
    width: 600px;
    margin: 50px auto;
    justify-content: center;
} */

.add-customer-sub{
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
}

#add-customer-h2{
    color: black;
    font-weight: bold;
    font-family: 'Lobster Two', cursive;
}

.add-customer-label, #add-customer-input{
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}
#add-customer-input{
    margin-bottom: 10px;
}
/*  */

#add-customer-btn-div{
    display: flex;
    justify-content: center;
    gap:15px;
    margin-bottom: 15px;
}

#add-customer-submit-btn, #add-customer-cancel-btn{
    padding: 10px;
    font-size: 20px;
    
}

