
#edit-customer-container{
    align-items: center;
}

#edit-customer-maincard{
    box-sizing: border-box;
    width: 600px;
    margin: 50px auto;
}

.edit-customer-subdivs{
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
}

#edit-customer-h2{
    color: white;
}

#edit-customer-label, #edit-customer-input{
    font-size: 18px;
    font-weight: bold;
}
#edit-customer-label{
    margin-left: 70px;
    color: white;
}

#edit-customer-input{
    width: 50%;
    margin-right: 50px;
}

#edit-customer-btn-div{
    display: flex;
    justify-content: center;
    gap:15px;
}

#edit-customer-submit-btn, #edit-customer-cancel-btn{
    padding: 10px;
    font-size: 20px;
    
}

