body{
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    /*     
    background: linear-gradient(157deg,#9438c6,#86cce6,#68c748,#c5c319);
    background-size: 240% 240%;
    animation: gradient-animation 8s ease infinite;
     */

}

/* @keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
} */