

.container{
    gap:10px
}

.excel-btn-div{
    margin-top: 100px;
    margin-bottom: 10px;
}

#excel-btn{
    font-size: 18px;
    font-weight: bold;
}

#excel-table{
    justify-content: center;
    align-items: center;
}