/* Add Customer CSS */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap");

#show-add-customer-form-btn {
    margin-top   : 10px;
    margin-left  : 80%;
    color        : #fff;
    cursor       : pointer;
    margin-bottom: 5px;
}

.customer-list-div {
    background     : linear-gradient(344deg, #f2cdaa, #469380, #31207f);
    background-size: 180% 180%;
    animation      : gradient-animation 21s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.add-customer-container {
    align-items: center;
    margin     : 10px 15px;
}

.add-customer-div {
    display        : flex;
    justify-content: space-evenly;
    gap            : 5px;
}

#add-customer-h2 {
    color      : white !important;
    font-weight: bold;
    font-family: "Playfair Display", serif !important;
    font-size  : 40px;
}

#add-customer-input {
    font-size    : 18px;
    font-weight  : bold;
    width        : 100%;
    margin-bottom: 10px;
}

.add-customer-label {
    font-size  : 18px;
    font-weight: bold;
}

#add-customer-btn-div {
    display        : flex;
    justify-content: center;
    gap            : 15px;
    margin-bottom  : 15px;
}

#add-customer-submit-btn {
    padding  : 10px;
    font-size: 20px;
}

#add-customer-reset-btn {
    padding  : 10px;
    font-size: 20px;
    width    : 90px;
}

/* Edit Customer CSS */

#edit-customer-maincard {
    align-items: center;
    margin     : 10px 15px;
}

#edit-customer-input-div {
    display        : flex;
    justify-content: space-evenly;
    gap            : 5px;
}

#edit-customer-h2 {
    color      : white !important;
    font-weight: bold;
    font-family: "Playfair Display", serif !important;
    font-size  : 40px;
}

#edit-customer-input {
    font-size    : 18px;
    font-weight  : bold;
    width        : 100%;
    margin-bottom: 10px;
}

.edit-customer-label {
    font-size  : 18px;
    font-weight: bold;
}

#edit-customer-btn-div {
    display        : flex;
    justify-content: center;
    gap            : 15px;
    margin-bottom  : 15px;
}

#edit-customer-submit-btn {
    padding  : 10px;
    font-size: 20px;
}

#edit-customer-cancel-btn {
    padding  : 10px;
    font-size: 20px;
    width    : 90px;
}

/* List Customer CSS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

/* @media (max-width: 900px) {
    
        #list-customer-sub-div {
            width: 90%;
            justify-content: center;
            align-items: center;
            margin-left: 2%;
        }
        #list-customer-table{
            font-size: 12px;
        }

        #list-customers-btn-view,
        #list-customers-btn-edit,
        #list-customers-btn-delete {
            font-size: 20px;
            width    : 30%;
        }

    } */

#list-customer-main-div {
    box-sizing     : border-box !important;
    width          : 95%;
    justify-content: center;
    align-items    : center;
    margin-left    : 2%;
}

#list-customer-sub-div {
    width          : 95%;
    justify-content: center;
    align-items    : center;
    margin-left    : 2%;
    margin-bottom  : 20px;
}

#list-customer-table{
    width: auto!important;
    font-size: 12px !important;
}

.dt-buttons {
    gap: 5px !important;
}

.buttons-excel,
.buttons-print,
.buttons-pdf,
.buttons-colvis {
    background-color: #06a0e2 !important;
    color           : #ffffff !important;
    border-radius   : 4px !important;
    font-size       : 14px !important;
    font-weight     : bold;
    padding         : 6px !important;
}

.dataTables_filter label {
    color      : #000000;
    font-weight: bold;
    font-size  : 18px;
}

.dataTables_filter input {
    margin-bottom: 5px;
    border       : 1px solid white !important;
    outline      : 0px;
}

#list-customers-btn-view,
#list-customers-btn-edit,
#list-customers-btn-delete {
    font-size: 16px;
    width    : 70px;
}

.dataTables_info {
    color      : #000000 !important;
    font-weight: bold;
    font-size  : 18px;
    margin-left: 15px;
}

.dataTables_paginate {
    color      : #000000 !important;
    font-weight: bold;
    font-size  : 18px;
    margin-left: 15px;
}

#go-to-top-btn {
    position        : fixed;
    bottom          : 50px;
    right           : 20px;
    padding         : 6px 6px;
    padding-top     : 3px;
    background-color: #000000;
    color           : #ffffff;
    border          : none;
    border-radius   : 20%;
    cursor          : pointer;
}


