
.App {
  
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
  
  margin-top: 0px;
  text-align: center; */
  
  /* background: linear-gradient(344deg,#f2cdaa,#469380,#31207f);
  background-size: 180% 180%;
  animation: gradient-animation 21s ease infinite; */


  /* background-image:url("/src/images/BR.jpg"); */

  /* background-color: #557A95;
  height: 100vh;
  width: 100vw; */

}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.current-date-time-container {
  background-color: #212529;
  width: 100%;
  height: 30px; /* Adjust the height as needed */
  overflow: hidden;
  position: relative;
}

.scrolling-text {
  display: inline-block;
  animation: scroll 50s linear infinite;
  white-space: nowrap;
  color: aliceblue;
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px; /* Space before scrolling text */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.venkateswaraswamy{
  height: 34px;
  width: 34px;
}