.App {
  
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
  width: 100vw;
  height: 100vh;
  margin-top: 0px;
  text-align: center; */
  
  background: linear-gradient(27deg,#b04e95,#9a25d6,#4eb5a2,#46c362,#f36c9d);
  background-size: 360% 360%;
  animation: gradient-animation 12s ease infinite;

  height: 100vh!important;

}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
